# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
# Do not trim everywhere: makefiles, configs are not usually follow this policy
#trim_trailing_whitespace = true

[*.c]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true
